.first-slide {
	width: 100%;
}

.second-slide {
	width: 100%;
}

.third-slide {
	width: 100%;
}

.jumbotron {
	background-color: rgba(204, 204, 204, 0.5);
	color: inherit;
}

#Content {
	margin-top: 30px;
	margin-bottom: 0px;
	border-radius: 12px;
	text-align: center;
}

body {
	background-color: #999999;
}	

#social-buttons button {
	color: white;
}

.btn-twitter {
	background-color: #00acee;
	border-color: #009ad5;
}

.btn-facebook {
	background-color: #4868ac;
	border-color: #314776;
}

.btn-pinterest {
	background-color: #b62f26;
	border-color: #b62f26;
}

footer {
	background-color: #222;
	color: white;
	text-align: center;
}

