#one {
	margin-top: 100px;
}

#featurettes {
	margin-top: 100px;
}

body {
	background-image: url("http://i.kinja-img.com/gawker-media/image/upload/tndkklvnxeoprzcusexl.jpg");
}

.content {
	background-color: rgba(255, 255, 255, 0.5);
	color: inherit;
	padding: 20px;
	border-radius: 10px;
}

.text-muted {
	color: #666666;
	font-weight: normal;
}

.featurette-heading {
	font-weight: bold;
}

footer {
	background-color: #222;
	color: white;
	text-align: center;
}
#design {
	margin-bottom: 5px;
	padding-bottom: 20px;
}

#menuBar {
	padding-top: 30px;
}

#menuBar a {
	color: white;
	font-size: 18px;
}