#one {
	margin-top: 100px;
}

#featurettes {
	margin-top: 100px;
}

body {
	background-image: url("https://img.buzzfeed.com/buzzfeed-static/static/2015-03/8/17/enhanced/webdr07/enhanced-buzz-wide-8462-1425851848-10.jpg");
	background-repeat: no-repeat;
	

}